/*
Als je width en height hier pas instelt, zijn de afmetingen van het canvas niet gekend
in javascript. Dus in html-bestand binnen de tags instellen.
 */

#canvas {
    border: 1px solid black;
    position: absolute;
    top: 10%;
    left: 10%;
}

#background{
    position: absolute;
    top: 10%;
    left: 10%;
    width: 700px;
    height: 600px;
    z-index: -1;
}

#tbl_resultaten{
    position: absolute;
    left: 900px;
    top: 10%;
    width: 200px;
}

.slidecontainer{
    position: absolute;
    top: 10%;
    left: 1200px;
}

